body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* fixes formatting of timeSelect on datepicker */
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}